<!-- Partial: Modal para selecionar/adicionar pessoa (reutilizável) -->
<div class="modal fade" id="modalBuscaPessoa" tabindex="-1" aria-labelledby="modalBuscaPessoaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalBuscaPessoaLabel">Buscar Pessoa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <input type="text" id="buscaPessoaInput" class="form-control" placeholder="Digite o nome da pessoa...">
        <ul id="listaSugestoesPessoa" class="list-group mt-3"></ul>
      </div>
    </div>
  </div>
</div>
