<!-- Partial: Modal para selecionar/adicionar veículo (reutilizável) -->
<div class="modal fade" id="modalBuscaVeiculo" tabindex="-1" aria-labelledby="modalBuscaVeiculoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalBuscaVeiculoLabel">Buscar Veículo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <input type="text" id="buscaVeiculoInput" class="form-control" placeholder="Digite a placa...">
        <ul id="listaSugestoesVeiculo" class="list-group mt-3"></ul>
      </div>
    </div>
  </div>
</div>
